/* საკლასო დავალება:

თქვენს html-ის დოკუმენტში აიღეთ 8 პარაგრაფი, თითოეულს გაუწერეთ id.

external css-ის გამოყენებით გასტილეთ ეს პარაგრაფები, გამოიყენეთ rgb რათა პარაგრაფებს ქონდეთ შემდეგი ფერები:

I - თეთრი
II - შავი
III - წითელი
IV - მწვანე
V - ლურჯი
VI - ყვითელი
VII - ცისფერი
VIII - იასამნისფერი */

#id1 {
    color: rgb(255, 255, 255);
}
#id2 {
    color:rgb(0, 0, 0);
}
#id3 {
    color: rgb(255, 0, 0);
}
#id4 {
    color: rgb(0, 255, 0);
}
#id5 {
    color: rgb(255, 255, 0);
}
#id6 {
    color: rgb(0, 255, 255);
}
#id7 {
    color: rgb(138, 43, 226);
}
#id9{
    color: rgb(354, 200, 100);
}
#id10{
    color: rgb(0, 0, 255);
}
#id11{
    color: rgb(240, 248, 255);
}
#id12{
    color:rgb(255, 215, 0);
}
#id13{
    color: rgb(127, 255, 0);
}